.advantages {
  padding-top: 160px;
  &__title {
    display: flex;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: var(--black-text-color);
  }
  &__subtitle {
    margin: 36px auto 60px;
    max-width: 867px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__item-title {
    margin-bottom: 24px;
  }
  &__item-text {
    max-width: 500px;
    line-height: 33px;
  }
}