.btn {
  background-color: var(--accent-color);
  border-radius: 60px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.header__btn {
  width: 230px;
  height: 60px;
}

.promo__btn {
  margin-top: 36px;
  width: 250px;
  height: 75px;
}