.header {
  padding-top: 50px;
  z-index: 10;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-inner {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  &__logo-divider {
    height: 76px;
    width: 1px;
    background-color: #bfccdf;
  }
  &__logo-text {
    max-width: 164px;
    font-size: 13px;
  }
}
