.reviews {
  padding-top: 160px;
  &__item {
    margin-top: 36px;
    padding: 28px;
    background-color: var(--reviews-bg-color);
    border-radius: 20px;
    display: flex;
    gap: 52px;
  }
  &__item-person {
    background-color: #fff;
    padding: 53px 40px 37px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 310px;
  }
  &__item-name {
    margin-top: 20px;
    font-size: 22px;
    line-height: 37px;
    color: var(--black-text-color);
    text-align: center;
  }
  &__item-position {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  &__position-block {
    background-color: #F6FAFF;
    padding: 10px 20px;
    border-radius: 15px;
  }
  &__position-block_accent {
    background-color: #E4ECF9;
  }
  &__item-text {
    margin-top: 40px;
    font-size: 22px;
    line-height: 37px;
    color: var(--black-text-color);
  }
  &__item-descr {
    margin-top: 20px;
    line-height: 33px;
  }
}