
:root {
  --container-width: 1160px;
  --font-family: "Montserrat", sans-serif;
  --accent-color: #2A4FBF;
  --main-bg-color: #FAFAFF;
  --main-text-color: #5b6574;
  --black-text-color: #32333d;
  --reviews-bg-color: #eff4ff;
  --dark-bg-color: #2A3034;
  --footer-text-color: #747C87;

}